body {
    background-color: rgb(237, 237, 237);
    display: grid;
    grid-template-areas: 
        "header header header header"
        "sidebar content content content";
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: azure;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    grid-area: header;
}

h1{
    font-size: 26px;
}

#fgv{
    height: 100%;
    margin-right: 20px;
    cursor: pointer;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#searchDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    background-color: white;
    border-radius: 2px;
    padding: 3px;
}

#lupa{
    width: 25px;
    background: none;
    cursor: pointer;
    border: none;  
    background-color: none;
}

#search{
    font-size: larger;
    font-family: sans-serif;
    height: 25px;
    width: 90%;
    border: none;
    background: transparent;
    box-sizing:content-box;
    
}

#app{
    grid-template-columns: 100px aut;
    background-color: rgb(237, 237, 237);
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#content{
    grid-area: content;
    height: 100;
    margin-top: 60px;
    margin-right: 8%;
}

#sidebar{
    grid-area: sidebar;
    margin-top: 40px;
    margin-left: 32%;
    margin-right: 10px;
}

.infoMark{
    margin: 4px;
    font-size: 15px;
}

h2{
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.opt{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}